In [1]:
import pandas as pd
import numpy as np
import pandasql as pdsql
pysql = lambda q: pdsql.sqldf(q, globals())

In [3]:

#sql to filter relevant stuff only
call_log=pd.read_csv('data/call_log_database.csv')
filter="select CALLING_NO, CALLED_NO, CALL_DATE,DURATION,DIRECTION,RECORD_TYPE,ROAM_IND as IS_ROAMING from call_log ;"
call_log=pysql(filter)
call_log

AttributeError: module 'pandas' has no attribute 'load_csv'

In [40]:
#save a backup
call_log.to_csv('generated/call_log.csv',sep=',')

In [34]:
url='generated/call_log.csv'
call_log = pd.read_csv(url)

In [55]:
#for gettng total incoming call duration
incalls="select CALLED_NO,SUM(DURATION) AS TOT_IN_DUR from call_log where RECORD_TYPE<>'SMS'  GROUP BY CALLED_NO;"
#for gettng total outgoing call duration
outcalls="select CALLING_NO,SUM(DURATION) AS TOT_OUT_DUR from call_log where RECORD_TYPE<>'SMS' GROUP BY CALLING_NO;"
#for gettng total incoming call frequency
incallfreq="select CALLED_NO,COUNT(CALLED_NO) AS TOT_IN_CALLS from call_log where RECORD_TYPE<>'SMS' GROUP BY CALLED_NO;"
#for gettng total outgoing call frequency
outcallfreq="select CALLING_NO,COUNT(CALLING_NO) AS TOT_OUT_CALLS from call_log where RECORD_TYPE<>'SMS'  GROUP BY CALLING_NO;"
#run the queries and get the repective tables
in_calls=pysql(incalls)
out_calls=pysql(outcalls)
in_call_freq=pysql(incallfreq)
out_call_freq=pysql(outcallfreq)

In [56]:
#fuses incoming and outgoing tables separately
intable= "select a.*, b.TOT_IN_CALLS from in_calls a inner join in_call_freq b on a.CALLED_NO = b.CALLED_NO order by TOT_IN_CALLS DESC;"
in_table=pysql(intable)
outtable= "select a.*, b.TOT_OUT_CALLS from out_calls a inner join out_call_freq b on a.CALLING_NO = b.CALLING_NO order by TOT_OUT_CALLS DESC;"
out_table=pysql(outtable)

In [57]:
#save a backup(optional)
in_table.to_csv('generated/in_table.csv',sep=',')
out_table.to_csv('generated/out_table.csv',sep=',')

In [58]:

#this part is for fusing the user based incoming and outgoing records into a single table (full outer join)
#along with tendency to call a person

inset=set(in_table['CALLED_NO'])
outset=set(out_table['CALLING_NO'])
#create new dataframe
columns = ['NUMBER','TOT_IN_CALLS', 'TOT_IN_DUR','TOT_OUT_CALLS', 'TOT_OUT_DUR','TENDENCY']
#tendency= total out duration/total duration
df = pd.DataFrame(columns=columns)
#all unique numbers in database
allnumbers=inset.union(outset)
#fusing in table and out table (outer join)
i=0
for number in allnumbers:
    #print(number)
    num = "\"" + number +"\""
    if number not in outset:
        query="select * from in_table where CALLED_NO="+num+";"
        data=pysql(query)
        #tendency=0
        df.loc[i]=[number,data['TOT_IN_CALLS'][0],data['TOT_IN_DUR'][0],0,0,0]   
    elif number not in inset:
        query="select * from out_table where CALLING_NO="+num+";"
        data=pysql(query)
        df.loc[i]=[number,0,0,data['TOT_OUT_CALLS'][0],data['TOT_OUT_DUR'][0],1]   
    else:
        query="select a.*, b.TOT_OUT_DUR,b.TOT_OUT_CALLS from in_table a inner join out_table b on a.CALLED_NO = b.CALLING_NO where a.CALLED_NO="+num+";"
        data=pysql(query)
        tendency=data['TOT_OUT_DUR'][0]/(data['TOT_IN_DUR'][0]+data['TOT_OUT_DUR'][0])
        df.loc[i]=[number,data['TOT_IN_CALLS'][0],data['TOT_IN_DUR'][0],data['TOT_OUT_CALLS'][0],data['TOT_OUT_DUR'][0],tendency]
    i+=1

In [59]:
#display our table
pysql("select * from df order by TENDENCY DESC")

,NUMBER,TOT_IN_CALLS,TOT_IN_DUR,TOT_OUT_CALLS,TOT_OUT_DUR,TENDENCY
0,9996039787,0,0,3,1026,1
1,9829167468,0,0,1,91,1
2,5692201111,0,0,1,35,1
3,9411290999,0,0,1,142,1
4,9311701656,0,0,2,282,1
5,9410459243,0,0,1,65,1
6,9997268708,0,0,1,124,1
7,9219456550,0,0,1,58,1
8,9761388422,0,0,1,34,1
9,9808780217,0,0,8,1059,1
10,9548411960,0,0,1,7,1
11,8057232795,0,0,1,32,1
12,9045925372,0,0,2,216,1
13,9639013251,0,0,2,113,1
14,8655329271,0,0,1,468,1
15,9358834724,0,0,1,28,1
16,9996688622,0,0,1,278,1
17,8791695179,0,0,2,62,1
18,8923414272,0,0,1,29,1
19,9719635084,0,0,1,55,1
20,9416358126,0,0,2,138,1
21,9267222459,0,0,1,52,1
22,9557760405,0,0,4,211,1
23,8954810058,0,0,1,47,1
24,9411097515,0,0,1,173,1
25,8954925840,0,0,1,22,1
26,8410476001,0,0,6,712,1
27,8791687770,0,0,2,21,1
28,8791106555,0,0,2,15,1
29,9837703037,0,0,1,22,1
...,...,...,...,...,...,...
6523,9760830222,10,268,0,0,0
6524,9536574507,1,76,0,0,0
6525,9897328633,1,35,0,0,0
6526,9456265970,1,12,0,0,0
6527,9891865201,3,103,0,0,0
6528,9927380739,8,931,0,0,0
6529,9012303436,2,544,0,0,0
6530,9639749187,2,1198,0,0,0
6531,9457357584,1,586,0,0,0
6532,7599019601,4,242,0,0,0
6533,9536882430,1,31,0,0,0
6534,543211,8,1860,0,0,0
6535,7417562124,2,113,0,0,0
6536,9536900696,1,64,0,0,0
6537,9359335861,5,388,0,0,0
6538,9411265328,1,65,0,0,0
6539,9997389111,1,29,0,0,0
6540,9892791660,1,744,0,0,0
6541,9717989294,1,83,0,0,0
6542,9808992076,2,51,0,0,0
6543,9837807255,1,702,0,0,0
6544,9639987042,23,8556,0,0,0
6545,9760963153,1,15,0,0,0
6546,9690046370,6,379,0,0,0
6547,8006060607,5,311,0,0,0
6548,9675238445,4,201,0,0,0
6549,9991602302,3,122,0,0,0
6550,9759178829,1,20,0,0,0
6551,9045449220,40,7319,0,0,0
6552,9690806452,1,72,0,0,0

In [60]:
df.to_csv('generated/user_tendency.csv',sep=',')

In [61]:
len(allnumbers)

6553

In [8]:
#sql to filter relevant stuff only
call_log2=pd.read_csv('data/call_log_database.csv')
filter="select CALLING_NO, CALLED_NO, CALL_DATE,DURATION,DIRECTION,RECORD_TYPE,ROAM_IND as IS_ROAMING from call_log2 where DURATION=1 AND RECORD_TYPE=\"VOICE\" ;"
call_log2=pysql(filter)
call_log2

,CALLING_NO,CALLED_NO,CALL_DATE,DURATION,DIRECTION,RECORD_TYPE,IS_ROAMING
0,9837373649,9045885484,01-11-2011 01:15,1,IN,VOICE,N
1,8439002526,9897226613,01-11-2011 08:13,1,OUT,VOICE,N
2,8439312946,9758660213,01-11-2011 11:11,1,OUT,VOICE,N
3,7417510001,9219694115,01-11-2011 11:51,1,OUT,VOICE,N
4,7417510001,9219694115,01-11-2011 11:51,1,IN,VOICE,N
5,8439312946,9557577723,01-11-2011 14:17,1,OUT,VOICE,N
6,8439312946,9997651342,01-11-2011 16:15,1,OUT,VOICE,N
7,8791519500,8410179682,01-11-2011 17:20,1,OUT,VOICE,Y
8,9548904857,9045177771,01-11-2011 18:34,1,IN,VOICE,N
9,7895912755,9045885484,01-11-2011 20:31,1,IN,VOICE,N
10,8439312946,7417867779,01-11-2011 21:11,1,OUT,VOICE,N
11,8439312946,7417867779,01-11-2011 21:11,1,IN,VOICE,N
12,9711736553,9045264130,01-11-2011 21:48,1,IN,VOICE,N
13,7417788522,8126403726,02-11-2011 08:53,1,OUT,VOICE,N
14,7417365865,9152824475,02-11-2011 09:15,1,OUT,VOICE,N
15,5916532649,8791519500,02-11-2011 11:39,1,IN,VOICE,N
16,8430751200,8791692000,02-11-2011 11:42,1,IN,VOICE,N
17,9259685156,9045973570,02-11-2011 12:28,1,IN,VOICE,N
18,7830462733,7417077789,02-11-2011 13:48,1,IN,VOICE,N
19,9045086070,9758716364,02-11-2011 14:09,1,OUT,VOICE,Y
20,9045010206,9456927593,02-11-2011 14:20,1,OUT,VOICE,N
21,9045177771,9045267581,02-11-2011 17:03,1,OUT,VOICE,N
22,9045177771,9045267581,02-11-2011 17:03,1,IN,VOICE,N
23,8439685533,8791692000,02-11-2011 17:11,1,IN,VOICE,N
24,7417867786,9634497349,02-11-2011 18:32,1,OUT,VOICE,N
25,8285432682,9045033379,02-11-2011 18:36,1,IN,VOICE,N
26,8057425326,9045999933,02-11-2011 19:59,1,IN,VOICE,N
27,8791777788,9897460007,02-11-2011 22:04,1,OUT,VOICE,N
28,8439312946,9758813030,02-11-2011 22:19,1,OUT,VOICE,N
29,9528081189,9045033375,03-11-2011 08:02,1,IN,VOICE,N
...,...,...,...,...,...,...,...
252,9352611885,7669416743,14-11-2011 08:14,1,IN,VOICE,N
253,8791550971,9045091352,14-11-2011 09:07,1,IN,VOICE,N
254,8791550971,9045091352,14-11-2011 09:07,1,OUT,VOICE,Y
255,9675915213,8439312946,14-11-2011 09:42,1,IN,VOICE,N
256,9319663914,8791519500,14-11-2011 10:10,1,IN,VOICE,Y
257,9045112200,8439149654,14-11-2011 10:39,1,OUT,VOICE,N
258,9758242425,9045000402,14-11-2011 10:48,1,IN,VOICE,N
259,8410756508,9045091352,14-11-2011 11:00,1,IN,VOICE,N
260,8791777788,9897460007,14-11-2011 11:49,1,OUT,VOICE,N
261,7417788522,8909751044,14-11-2011 11:51,1,OUT,VOICE,N
262,9837411530,8791519500,14-11-2011 14:25,1,IN,VOICE,Y
263,8449717652,9045112200,14-11-2011 14:26,1,IN,VOICE,N
264,9152824685,7417365865,14-11-2011 15:07,1,IN,VOICE,N
265,9690443725,9045999933,14-11-2011 16:13,1,IN,VOICE,Y
266,8909053701,9045012122,14-11-2011 16:44,1,IN,VOICE,N
267,7417518858,9045001900,14-11-2011 17:16,1,OUT,VOICE,N
268,9808946536,9027660333,14-11-2011 17:33,1,IN,VOICE,N
269,9012734458,7417022281,14-11-2011 18:09,1,IN,VOICE,N
270,9152824685,7417365865,14-11-2011 18:23,1,IN,VOICE,N
271,7417188877,9286550408,14-11-2011 18:58,1,OUT,VOICE,Y
272,9675915213,8439312946,14-11-2011 19:45,1,IN,VOICE,N
273,9675915213,8439312946,14-11-2011 20:01,1,IN,VOICE,N
274,8791000101,8923235133,14-11-2011 20:10,1,OUT,VOICE,N
275,8439312946,9557577723,14-11-2011 20:23,1,OUT,VOICE,N
276,7417867786,9634497349,14-11-2011 21:54,1,OUT,VOICE,Y
277,9359220950,9045009500,14-11-2011 23:18,1,IN,VOICE,N
278,9152409740,8791519500,15-11-2011 00:30,1,IN,VOICE,Y
279,9359397731,8439020006,15-11-2011 09:20,1,IN,VOICE,N
280,9897109117,7417510001,15-11-2011 10:14,1,IN,VOICE,N
281,9045973570,8439590247,15-11-2011 10:53,1,IN,VOICE,Y